#edit-form {
  padding: 3.125rem;
}

#edit-form form {
  width: 80%;
  margin: 0 auto;
}

#edit-image p{
  text-align: left;
  font-size: 0.375rem;
}

#edit-form td input,
#edit-form td textarea {
  width: 70%;
}

#edit-spot-btn {
  width: 12.5rem;
  border: none;
  background-color: #79B4B7;
  color:#f8f5f2;
  border-radius: 25px;
  padding: 0.625rem 0;
  margin: 2.5rem auto 0.625rem;
  display: block;
}