.flash-message {
  background-color: #F55353;
  color: #F1DDBF;
  text-align: center;
  margin: 0;
}

.search-area {
  height: 500px;
  background: url("main_view.jpg") no-repeat;
  background-size: cover;
  padding: 2.5rem;
}

.search-box {
  background-color: #f8f5f2;
  padding: 2.5rem;
}

.search-box h3 {
  margin-bottom: 0.5rem;
}

.search-window {
  width: 30px;
}

.input-area-form {
  padding: 1rem;
  width: 40%;
}

.input-category-form {
  padding: 1rem;
  margin-right: 1rem;
}


.index-area {
  padding: 7rem 2.5rem; 
}

.slider {
  padding: 0 1rem;
  margin: 2.5rem auto 0;
}

.contain {
  margin: 0.6875rem;
  padding: 1.25rem;
  border: 1px solid #f8f5f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #f8f5f2;
  position: relative;
}

.slick-slide {
  height: auto !important;
}
.slick-slide img {
  height: 30vw; 
  max-height: 200px;
  min-height: 100px;
  margin: 0;
}

.contain a {
  font-weight: bold;
}

.contain a,
.contain span{
  color: #222525;
  margin-top: 0.625rem;
  display: block;
  text-decoration: none;
}

.slick-track {
  display: flex;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.625rem;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

.favorite {
  margin-right: 0.625rem;
}

.favorites-count {
  display: inline;
  color:#F55353;
}

.gone-place-count {
  display: inline;
  color:#FFC93C;
}

.not-yet {
  color:#222525;
}

.tag-search {
  padding: 7rem 2.5rem;
  height: 420px;
  background-color:#f8f5f2;
}

.tag-lists {
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  margin:0 auto;
}

.tag_name {
  width: 100px;
  padding: 20px 10px;
  border-radius: 20rem;
  margin: 0.3125rem;
  background-color: #FFC93C;
  color: #222525;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.area-search {
  padding: 7rem 2.5rem;
}

.search-list-area {
  padding: 3.125rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-list-area li{
  list-style: none;
}

.area {
  width: 20%;
  height: 250px;
  position: relative;
  margin: 0.625rem;
  background-size: cover;
  margin: 40px;
  z-index: 0;
}

.area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(60%);
  z-index: -1;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.search-list-area a {
  position: absolute;
  top: 40%;
  left: 40%;
  font-weight: bold;
  color:#FFF;
  z-index: 1;
  font-size: 25px;
  text-decoration: none;
}

#hokkaido{
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('hokkaido.jpg');
}

#tohoku {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('tohoku.jpg');
}

#kanto {
  border-radius:  50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('kanto.jpg');
}

#chubu {
  border-radius:  50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('chubu.jpg');
}

#kinki {
  border-radius:  50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('kinki.jpg');
}

#chugoku {
  border-radius:  50% 50% 50% 70%/50% 50% 70% 60%;;
  background-image: url('chugoku.jpg');
}

#shikoku {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;;
  background-image: url('shikoku.jpg');
}

#kyusyu{
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('kyusyu.jpg');
}

#okinawa{
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  background-image: url('okinawa.jpg');
}