.spot-details-wrapper {
  background-color: #f8f5f2;
  padding: 2.5rem;
}

.top-wrapper {
  display: flex;
}

.contributor-btn {
  display: flex;
  padding: 2.5rem;
}

.btn {
  line-height: 36px;
  margin-left: 0.5rem;
  border: 1px solid;
  padding: 0 10px;
  text-decoration: none;
  color: #078080;
}

.fa-location-dot {
  color: #078080;
}

.spot-details {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.spot-image-wrapper {
  width: 60%;
  position: relative;
}

.show-spot-image-bg {
  width: 100%;
  height: 400px;
  padding: 10px;
}

.show-spot-image-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.show-spot-image-sm {
  display: flex;
}

.show-spot-image-sm img {
  width: calc(100% / 3);
  border-radius: 15px;
  padding: 10px;
}

.fav-btn {
  position:absolute;
  bottom: 10px;
  left: 80%;
  background-color: #f8f5f2;
  border-radius: 50px;
  padding: 10px;
  color:#c0c0c0;
}

.fav {
  color: #C74B50;
}

.flag {
  position:absolute;
  bottom: 10px;
  left: 90%;
  background-color: #f8f5f2;
  border-radius: 50px;
  padding: 10px;
  color:#c0c0c0;
}

.check-flag {
  color: #FFC93C;
}

.contributor-info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.contributor-prof {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contributor-prof p {
  margin: 0.3125rem 0;
}

.contributor-detail {
  display: flex;
  flex-direction: column;
}

.contributor-detail p {
  margin-left: 1.875rem;
}

#user_image {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  background-color: #f8f5f2;
  border-radius: 50%;
}

.contributor-comment {
  margin: 2rem 0;
  padding:20px;
  text-align:center;
  border-radius:10px;
  background-color: #fff;
  position:relative;
}

.contributor-comment:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(239, 247, 242, 0);
  border-top-width:20px;
  border-bottom-width:20px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-bottom-color:#fff;
  bottom:100%;
  left: 50%;
}

.contributor-tags span {
  background-color:#078080;
  color: #f8f5f2;
  padding: 5px 10px;
}

.about-spot {
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}

.about-spot-type {
  margin: 0 auto;
  text-align: center;
}

.about-spot-type img {
  width: 100px;
  height: 100px;
}

.about-spot-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.spot-addresses {
  width: 100%;
  display: flex;
}

#spot-map {
  width: 60%;
  height: 300px;
}

.spot-address {
  width: 40%;
  margin-left: 2.5rem;
}

.spot-info {
  display: flex;
  margin-bottom: 0.5rem;
}

.spot-info p {
  font-weight: bold;
  width: 120px;
}

.line-btn {
  margin-top: 1.875rem;
}

/* コメント投稿 */
.comment-form {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  margin: 1.875rem auto;
  padding: 20px;
}

.content {
  width: 100%;
  height: 5rem;
  border: none;
  resize: none;
}

.image-file .fa-camera {
  background-color: #79B4B7;
  color:#f8f5f2;
  padding: 0.625rem;
  border-radius: 10px;
}

#comment-btn {
  display: block;
  background-color: #79B4B7;
  color: #f8f5f2;
  border: none;
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
  margin: 0 auto;
}

/* コメント一覧 */

.comment-list {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin:0 auto 1.25rem;
  background-color: #fff;
  padding: 1.25rem;
}

.comment-left {
  width: 60%;
  min-height: 100px;
  display: flex;
}

.comment-user-prof {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 0.625rem;
  padding: 0.3125rem;
  border-radius: 50%;
  border: 1px solid #79B4B7;
}

.user-comment-content {
  width: 100%;
  margin: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-user-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.user-comment {
  font-size: 14px;
}

.comment-bottom {
  text-align: right;
}

#edit-comment a,
#delete-comment a {
  background-color: #79B4B7;
  text-decoration: none;
  color: #f8f5f2;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.comment-img {
  width: 30%;
  min-height: 14.375rem;
  object-fit: cover;
}