<div id="home">
<div class="flash-message"><%= flash[:notice] %></div>
  <div id="main-view">
    <div class="search-window">
      <%= form_with do |f| %>
        <%= f.text_field :keyword , id:"keyword-window"%>
      <% end %>
      <span id="main-title">テキストテキスト</span>
    </div>
  </div>
</div>
