.registration-wrapper {
  display: flex;
  align-items: center;
  background-color: #fffffe;
  padding: 30px 0;
}

#registration-card {
  background-color: #f8f5f2;
  margin: auto;
  padding: 2rem;
  border-radius: 1.5625rem;
  height: 100%;
  width: 80%;
}

.header-name {
  color:#078080;
  margin-bottom: 1.25rem;
}

.user-form {
  display: flex;
  justify-content: space-around;
}

.user-form-left {
  width: 60%;
}

.user-form-right {
  width: calc(100% - 40%)
}

.field {
  margin-bottom: 0.9375rem;
  color:#078080;
  font-weight: bold;
}

#registration-card input,
#registration-card select {
  margin-top: 0.3rem;
  border: none;
}

#registration-dog-image {
  width: 300px;
  height: 300px;
}

#user_dog_type_id {
  height: 1.875rem;
}

.sign-up-btn {
  border-radius: 1.5625rem;
  border:#078080;
  background-color: #078080;
  color: #f8f5f2;
  padding: 0.625rem 1.25rem;
  margin: 1.25rem auto 0;
  display: block;
}

/* エラーメッセージ */
#error_explanation h2 {
  color: #C74B50;
  font-size: 1rem;
}

#error_explanation ul {
  color: #C74B50;
  font-size: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}